* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    letter-spacing: 0.125rem;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;  
    scroll-padding-top: 3.5rem;
}

:root { 
    --background-color: #191919;
    --second_background-color: #121212;
    --text-color: #fff;
    --second_text-color: #c6c9d8bf;
    --shadow-color: #A50000;
    --heading_font-family: "PT Serif", Georgia, Times, serif;
    --icon_font: 3.75rem;
    --big_font: 1.5rem;
    --heading_font: 1.25rem;
    --medium_font: 1rem; 
    --small_font: 0.95rem;
    --box-shadow:  0px 1px 2px 0px rgba(0,250,250,0.7),
                   1px 2px 4px 0px rgba(0,250,250,0.7),
                   2px 4px 8px 0px rgba(0,250,250,0.7),
                   2px 4px 16px 0px rgba(0,250,250,0.7);
    --box-shadow_hovered: 0px 1px 2px 0px rgba(166, 0, 0, 0.7),
                          1px 2px 4px 0px rgba(166, 0, 0, 0.7),
                          2px 4px 8px 0px rgba(166, 0, 0, 0.7),
                          2px 4px 16px 0px rgba(166, 0, 0, 0.7); 
}

.body {
    background-color: var(--background-color);
    color: var(--text-color);
}

section { 
    padding: 3rem 10%;
}

.heading {
    font-family: var(--heading_font-family);
}

.header { 
    background-color: var(--second_background-color);   
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;    
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 1.125rem 10%;
    transition-duration: .4s;
}

.header_logo {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.header_logo h3 {    
    font-size: 1.3rem;       
}

.header_logo p {
    color: var(--second_text-color);
    font-size: 0.8rem;    
}

.header_navigation {
    display: flex;
}

.header_navigation li {
    position: relative;
}

.header_navigation a {
    color: var(--text-color);    
    font-size: var(--medium_font);
    padding: 0.625rem 1.25rem;
}

.header_navigation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.125rem;
    background-color: var(--shadow-color);
    left: 0;
    bottom: -0.25rem;
    transition: ease .4s;    
}

.header_navigation a:hover::after {
    width: 100%;
}

.menu_icon {  
    font-size: 2rem;     
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.sticky {
    padding: 0.5rem 10%;
    background: linear-gradient(to right, black, rgb(0, 152, 152));    
}

.sticky .header_navigation a::after {
    background-color: var(--text-color); 
}

.about {
    padding-top: 7.5rem;   
}

.about > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--heading_font);    
    margin-bottom: 2.25rem;
}

.about_content {
    display: flex;    
}

.about_photo {        
    display: flex;
    justify-content: center; 
    margin-right: 5%;       
}

.about_photo img {
    display: inline-block;
    width:  29rem;
    height: 43rem;    
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow);    
}

.about_text {
    width: 55%;
}

.about_text h3 {
    font-size: var(--heading_font);
    margin-bottom: 0.75rem;    
    display: inline-block;
    border-bottom: 0.1rem solid var(--text-color);
}

.about_text p {    
    color: var(--second_text-color);    
    line-height: 1.5rem;
    max-width: 37rem;
    font-size: var(--medium_font);
    margin-bottom: 1.7rem;    
}

.about_text h4 {    
    font-size: var(--medium_font);
}

.about_text h4 + p {
    margin-bottom: 0.8rem;    
}

.about_text h4 + p:nth-of-type(4) {
    margin-bottom: 1.7rem;
}

.about_text h4 + p:last-of-type {
    margin-bottom: 0;
}

.skills_title {
    text-align: center;
    margin-bottom: 2.25rem;
}

.skills_title h2 {
    display: inline-block;
    font-size: var(--heading_font);    
    text-transform: uppercase;
    border-bottom: 0.1rem solid var(--text-color);
    margin-bottom: 0.75rem;
}

.skills_title p {
    color: var(--second_text-color);     
    font-size: var(--small_font);
}

.skills_content {
    display: flex;
    flex-direction: column;   
    align-items: center;       
}

.skills_item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--second_background-color);
    padding: 3.5rem 2rem;
    margin-bottom: 2rem; 
    border-radius: 0.75rem;    
    transition: all .4s;       
}

.skills_item:last-child {
    margin-bottom: 0;
}

.skills_item_left {
    text-align: center;
}

.skills_item_left i {         
    font-size: var(--icon_font);     
}

.skills_item_left h3 {
    margin-top: 0.5rem;  
    color: var(--text-color);
    font-size: var(--medium_font);
    font-weight: normal;    
    text-transform: uppercase;        
}

.skills_item_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: flex-start;
}

.skills_item_right li {
    list-style-type: disc;
    color: var(--text-color);
    font-size: var(--medium_font);       
}

.projects_title {
    text-align: center;
    margin-bottom: 2.25rem;
}

.projects_title h2 {
    display: inline-block;
    font-size: var(--heading_font);    
    text-transform: uppercase;
    border-bottom: 0.1rem solid var(--text-color);
    margin-bottom: 0.75rem;
}

.projects_title p {
    color: var(--second_text-color);      
    font-size: var(--small_font);
}

.projects_content {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%;
    align-items: center;            
}

.project {    
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-bottom: 3rem;    
}

.project:last-child {
    margin-bottom: 0;
}

.project a {
    cursor: pointer;
}

.project img {    
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;    
    transition: all .4s;
    box-shadow: var(--box-shadow);    
}

.project img:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow_hovered);
}

.project p {
    color: var(--text-color);    
    font-size: var(--medium_font);
    margin-bottom: 0.3rem;    
}

.project p:nth-of-type(2) {
    font-size: var(--small_font);    
}

.project a:nth-of-type(2) {
    position: relative;
    color: var(--second_text-color);
    font-size: var(--small_font);        
}

.project a:nth-of-type(2)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.125rem;
    background-color: var(--shadow-color);
    left: 0;
    bottom: -0.25rem;
    transition: ease .4s;    
}

.project a:nth-of-type(2):hover::after {
    width: 100%;
}

.contacts_title {
    text-align: center;
    margin-bottom: 2.25rem;
}

.contacts_title h2 {     
    display: inline-block;
    font-size: var(--heading_font);    
    text-transform: uppercase;
    border-bottom: 0.1rem solid var(--text-color);
    margin-bottom: 0.75rem;
}

.contacts_title p {
    color: var(--second_text-color);      
    font-size: var(--small_font);
}

.contacts_content { 
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 4%;
    align-items: center;  
}

.contacts_item {    
    width: 100%;
    display: block;
    background-color: var(--second_background-color);
    padding: 2rem 0;
    margin-bottom: 2.25rem;
    border-radius: 0.75rem;    
    text-align: center; 
    color: var(--text-color);   
    transition: all .4s;
    box-shadow: var(--box-shadow);   
}

.contacts_item:nth-last-child(-n + 2) {
    margin-bottom: 0;
} 

.contacts_item:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: var(--box-shadow_hovered); 
}

.contacts_item i {         
    font-size: 2.5rem;    
}

.contacts_item p {
    margin-top: 0.75rem;  
    color: var(--text-color);
    font-size: var(--medium_font);                 
}

.footer {   
    background-color: var(--second_background-color); 
    text-align: center;     
    padding: 2rem 10%;     
}

.footer a {
    display: block;
    font-size: var(--medium_font);
    color: var(--text-color); 
    transition: all .4s;   
}

.footer a:hover {
    transform: scale(1.1);
    color: rgba(0,250,250,0.7);
}


@media only screen and (max-width: 1200px) {
    :root {
        font-size: 15px;
    }

    section {
        padding: 2rem 4%;
        transition: .4s;
    }
    
    .header {
        padding: 1.125rem 4%;
        transition: .4s;        
    }
        
    .sticky {
        padding: 0.5rem 4%;
        transition: .4s;
    }    
}


@media only screen and (max-width: 992px) {
    :root {
        font-size: 14px;
    }

    .menu_icon {
        display: initial;        
    }

    .menu_icon i {
        pointer-events: none;
    }

    .header_navigation {
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--background-color);
        text-align: left;
        transition: all .3s;        
    }

     .header_navigation a {
        display: block;
        padding: 0.625rem;       
        margin: 0.625rem;
        border-left: 0.2rem solid var(--text-color)
    }

    .header_navigation a:hover {
        background-color: var(--second_background-color);
    }

    .header_navigation a::after {
        display: none; 
    }

    .header_navigation.active_menu {
        top: 100%;
    }

    .about_content {
        flex-direction: column;
    }

    .about_photo, .about_text {
        width: 100%;
    }

    .about_photo {
        margin-right: 0;
        margin-bottom: 1.7rem;
        text-align: center;
    }

     .about_photo img {
        width: 60%;
        height: auto;
    }

    .projects_content, .contacts_content {         
        display: flex;
        flex-direction: column;
        align-items: center;       
    }
    
    .project a {
        text-align: center;
    }

    .project img {
        width: 75%;
        height: auto;        
    }
        
    .contacts_item {        
        padding: 1rem 0;
    }

    .contacts_item:nth-last-child(2) {
        margin-bottom: 2.25rem;
    } 
    
    .contacts_item:last-child {        
        margin-bottom: 0;
    }    
}


@media only screen and (max-width: 768px) {
    :root {
        font-size: 13px;
    }
}


@media only screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }    
}
